<form hx-get="/generateTeam" hx-encoding="multipart/form-data" hx-target="#teams">
    <select 
        name="player-count" 
        id="player-count"
        hx-get="/generateConfig"
        hx-trigger="change, load"
        hx-target="#config">
        <option value="6">3v3</option>
        <option value="2">1v1</option>
        <option value="4">2v2</option>
        <option value="10">5v5</option>
    </select>
    <select  name="config" id="config">
    </select>
    <button type="submit">Generate</button>
</form>

<div id="teams">
</div>